body {
    overflow: hidden;
    background-color: black;
}

#speedometer {
    position: absolute;
    left: 265px;
    bottom: 0;
    z-index: 0;
}

#t4image {
    position: absolute;
    bottom: 51px;
    left: 389px;
    width: 212px;
    z-index: 2;
}

#vwlogo {
    width: 60px;
    left: 470px;
    position: absolute;
    bottom: 283px;
    z-index: -1;
}

#road {
    position: absolute;
    bottom: 0;
    left: 200px;
    height: 150px;
    z-index: 1;
}