@font-face {
    font-family: 'Aldrich';
    src: url('../fonts/aldrich.woff2') format('woff2');
}  

body {
    overflow: hidden;
    background-color: black;
    font-family: 'Aldrich', sans-serif;
}

#speedometer {
    position: absolute;
    left: 265px;
    bottom: 0;
    z-index: 0;
}

#t4image {
    position: absolute;
    bottom: 51px;
    left: 389px;
    width: 212px;
    z-index: 2;
}

#vwlogo {
    width: 60px;
    left: 470px;
    position: absolute;
    bottom: 283px;
    z-index: -1;
}

#road {
    position: absolute;
    bottom: 0;
    left: 200px;
    height: 150px;
    z-index: 1;
}

#clock {
    color: white;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    top: -17px;
    left: -17px;
    padding-left: 30px;
    padding-top: 30px;
}

#speed {
    color: white;
    font-weight: bold;
    font-size: 75px;
    position: absolute;
    bottom: 0px;
    right: 14px;
    z-index: 20;
}

#speed small {
    font-weight: normal;
    font-size: 30px;
}

#fuellevel {
    position: absolute;
    left: 0px;
    z-index: 20;
    bottom: -15px;
}

#fuelicon {
    position: absolute;
    bottom: 20px;
    left: 220px;
    z-index: 25;
}

#oilpressure {
    position: absolute;
    right: -125px;
    bottom: 75px;
}
#oiltemp {
    position: absolute;
    left: -125px;
    bottom: 75px;
}
#oilpressureicon {
    position: absolute;
    right: 13px;
    bottom: 250px;
}
#oiltempicon {
    position: absolute;
    left: 13px;
    bottom: 250px;
}
