@font-face {
    font-family: 'Aldrich';
    src: url('/assets/fonts/aldrich.woff2') format('woff2');
}  

body {
    overflow: hidden;
    background-color: black;
    font-family: 'Aldrich', sans-serif;
}

#speedometer {
    position: absolute;
    left: 200px;
    bottom: 0;
    z-index: 0;
}

#t4image {
    position: absolute;
    bottom: 45px;
    left: 312px;
    width: 176px;
    z-index: 2;
}

#vwlogo {
    width: 50px;
    left: 375px;
    position: absolute;
    bottom: 235px;
    z-index: -1;
}

#road {
    position: absolute;
    bottom: 0;
    left: 127px;
    height: 140px;
    z-index: 1;
}

#clock {
    color: white;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    top: -17px;
    left: -17px;
    padding-left: 30px;
    padding-top: 30px;
}

#speed {
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    bottom: 0px;
    right: 3px;
    z-index: 20;
}

#speed small {
    font-weight: normal;
    font-size: 22px;
}

#fuellevel {
    position: absolute;
    left: -5px;
    z-index: 20;
    bottom: -20px;
}

#fuelicon {
    position: absolute;
    bottom: 12px;
    left: 143px;
    z-index: 25;
}

#oilpressure {
    position: absolute;
    right: -120px;
    bottom: 55px;
}
#oiltemp {
    position: absolute;
    left: -120px;
    bottom: 55px;
}
#oilpressureicon {
    position: absolute;
    right: 13px;
    bottom: 215px;
}
#oiltempicon {
    position: absolute;
    left: 13px;
    bottom: 215px;
}
