<!doctype html>
<html>
    <head>
        <title>Gauges as Components</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    </head>
    <body>
        <div id="clock"></div>
        <div id="speed"><span id="speedtext">0</span><small>km/h</small></div>
        <img id="connectionsign" class="hidden" src="/assets/img/connection.png">
        <img id="road" src="/assets/img/road.png">
        <img id="vwlogo" src="/assets/img/vw_logo.png">
        <img id="t4image" src="/assets/img/t4.png">
        <img id="fuelicon" src="/assets/img/fuel.png">
        <img id="coolanttempicon" src="/assets/img/coolant.png">
        <img id="oiltempicon" src="/assets/img/oil.png">
        <canvas id="speedometer" ></canvas>
        <canvas id="fuellevel"></canvas>
        <canvas id="coolanttemp"></canvas>
        <canvas id="oiltemp"></canvas>
        <script src="/assets/js/socket.io.js"></script>
        <script src="/assets/js/jquery-3.5.0.slim.min.js"></script>
        <script src="/assets/js/gauge.min.js"></script>
        <script src="/assets/js/cargauge.js"></script>
    </body>
</html>